pre {
    font-family: monospace;
    width: 100%;
    overflow-x: auto;
    padding: 20px;
    background: rgba(0,0,0,.05);
    color: rgba(0,0,0,.8);
}

.header {
    border-bottom: 1px solid #ccc;
}
.header:after {
    content: "";
    display: table;
    clear: both;
}
.header a {
    float: left;
}
.header a:nth-of-type(2) {
    float: right;
}
article {
    border-bottom: 1px solid #ccc;
    word-wrap: break-word; /* Break long urls */
}
article h2 {
    display: inline-block;
}
.timestamp {
    display: inline-block;
    margin-right: 0.3em;
}

.skills {
    text-align: center;
    margin-bottom: 3rem;
}
.skills__badge {
    display: inline-block;
    padding: 0 5px;
}
.skills__image {
    width: 15vw;
    height: 15vw;
}
@media (min-width: 768px) {
    .skills__image {
        width: 100px;
        height: 100px;
    }
}
.skills__title {
    text-align: center;
    margin: 1.3rem 0;
    font-weight: bold;
}
.skills__title a {
    color: #444;
}
.landing {
    padding-bottom: 1rem
}
.landing__list {
    list-style: none;
    padding: 0;
}
.landing__item {
    font-size: 1.4rem;
}
@media (min-width: 768px) {
    .landing__item {
        font-size: 1.9rem;
    }
}
.landing__item a {
    display: block;
}
.wide-image {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}

.home__header {
    text-align: center;
}
.home__title {
    margin: 0 30px;
}
@media (min-width: 600px) {
    .home__title,
    .home__blog,
    .home__styleguide {
        display: inline-block;
    }
}